*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.pyc
*.pyo

*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw

# Ignore font files and directories
**/font/
*.zip
.gitignore
.env
eval/LTB_iid
papers-content
papers-content.tar.gz
*.DS_Store
eval/stats/*
test.ipynb
./dataset_pipeline/LTB/
dataset_pipeline/LTB/assets/
eval/Web_rendered/
*.bak
dev/nanobanana_test_thought.txt
docs/
mathjax.tar.gz
.agents
manuscript/*
test_font_coverage.py
assets/Arial-Unicode-Bold.ttf